body {
   background: black;
}

div.slide {
   background-color: white;
   background-image: url('../../images/pywaw_logo.jpeg');
   background-repeat: no-repeat;
   background-position: 95% 95%;
   background-size: 120px;
}

.slide header:only-child h1 {
    font-size: 46px;
}

div.slide p {
    font-size: 26px;
}

div.slide li {
    font-size: 28px;
}

.highlight pre {
    font-size: 24px;
    margin-left: 1em;
}

.mcode pre {
    font-size: 18px;
}

.scode pre {
    font-size: 16px;
    margin-left: 0.2em;
}
